# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.DOC	 diff=astextplain
*.DOCX diff=astextplain
*.DOT  diff=astextplain
*.PDF	 diff=astextplain
*.RTF	 diff=astextplain
